// @font-face {
//   font-family: Nunito;
//   src: url(../fonts/NunitoSans-Regular.woff2);
//   font-style: normal;
// }
// @font-face {
//   font-family: MontserratM;
//   src: url(../fonts/Montserrat-Medium.woff2);
//   font-style: normal;
// }

// $fontR: Nunito;
// $fontM: MontserratM;

//fonts//
//colors//

$colorTextMain: #1d1d1d;
$colorTextSecond: #787878;
$colorAccent: #10c9c3;
$colorDarkBg: #141414;

$gray: #f8f9f9;